body {
  font-family: 'Merriweather', serif;
  color: white;
  background-image: url("../images/wizard_lair.jpg")
}

h1 {

  text-align: center;
  font-size: 5rem;
}
h3 {
  font-size: 2rem;
}
p {
  margin: 5px;
  font-size: 1rem;
}
#instructions{
  padding: 1rem;
  text-align: center;
  background: grey;
}
#crystals{
  position: relative;
}
#target{
  font-size: 2.5rem;
}